{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "@babel/stage-3",
    "@babel/react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "transform-react-jsx"
  ]
}
